:root {
    --pc-text: 1rem;
    --tablet-text: 0.92rem;
    --phone-text: 0.82rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hidden {
    visibility: hidden;
}

body {
    display: flex;
    position: relative;
    background: url("../assets/main/bg-1920x1080.webp") no-repeat center/cover;
    min-height: 100lvh;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-top: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 1px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in;
}

.navbar li a:hover {
    background-color: #f0f0f0;
}

.weather-section {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 30% 1fr;
    grid-template-areas:
        'submit-form current-weather'
        'weather-forecast-daily weather-forecast-daily';
    width: 1200px;
    padding: 20px;
    box-shadow: 0 2px 5px;
    border-radius: 20px;
    background-color: #fff;
}

#input {
    margin: 10px;
    height: fit-content;
}

.title {
    text-align: center;
    margin: 10px;
}

.submit-form {
    grid-area: submit-form;
}

#input-box {
    height: 30px;
    width: 260px;
}

.input-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.submit-button {
    height: 30px;
    width: 130px;
    border: thin solid black;
    background-color: #20af3f;
    text-align: center;
    border-radius: 10px;
}

.submit-button:hover {
    background-color: #6ef38b;
}

.current-weather {
    grid-area: current-weather;
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-between;
}

.current-data {
    margin: 10px;
    padding: 10px;
    width: 120px;
    height: 100px;
    border: thin solid gray;
    background-color: gainsboro;
    text-align: center;
    border-radius: 10px;
}

.weather-forecast-daily {
    grid-area: weather-forecast-daily;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    height: 200px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.weather-icon {
    position: relative;
    border: thin solid gray;
    background-color: gainsboro;
    border-radius: 10px;
    bottom: -10px;
    width: 100px;
    height: 100px;
}

.weekly-data-card {
    padding: 10px;
    width: 140px;
    height: 200px;
    border: thin solid gray;
    background-color: gainsboro;
    text-align: center;
    border-radius: 10px;
}


@media screen and (max-width: 1200px) {
    * {
        font-size: var(--pc-text);
    }

    body {
        display: flex;
        position: relative;
        background: url("../assets/main/bg-1200x675.webp") no-repeat center/cover;
        min-height: 100lvh;
        justify-content: center;
        align-items: center;
        padding: 15px;
        padding-top: 20px;
    }
    
    .weather-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            'submit-form'
            'current-weather'
            'weather-forecast-daily';
        width: 600px;
        height: 600px;
        padding: 20px;
    }

    .weekly-data-card {
        padding: 10px;
        width: 120px;
        height: 180px;
        border: thin solid gray;
        background-color: gainsboro;
        text-align: center;
        border-radius: 10px;
    }

    .current-data {
        margin: 10px;
        padding: 10px;
        width: 100px;
        height: 80px;
        border: thin solid gray;
        background-color: gainsboro;
        text-align: center;
        border-radius: 10px;
    }
}

@media screen and (max-width: 600px) {
    * {
        font-size: var(--tablet-text);
    }

    body {
        display: flex;
        position: relative;
        background: url("../assets/main/bg-600x338.webp") no-repeat center/cover;
        min-height: 100lvh;
        justify-content: center;
        align-items: center;
        padding: 15px;
        padding-top: 20px;
    }

    .weather-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            'submit-form'
            'current-weather'
            'weather-forecast-daily';
        width: 400px;
        height: 600px;
        padding: 20px;
    }

    .weekly-data-card {
        padding: 10px;
        width: 100px;
        height: 160px;
        border: thin solid gray;
        background-color: gainsboro;
        text-align: center;
        border-radius: 10px;
    }

    .current-data {
        margin: 10px;
        padding: 10px;
        width: 80px;
        height: 60px;
        border: thin solid gray;
        background-color: gainsboro;
        text-align: center;
        border-radius: 10px;
    }
}

@media screen and (max-width: 400px) {
    * {
        font-size: var(--phone-text);
    }

    body {
        display: flex;
        position: relative;
        background: url("../assets/main/bg-400x225.webp") no-repeat center/cover;
        min-height: 100lvh;
        justify-content: center;
        align-items: center;
        padding: 15px;
        padding-top: 20px;
    }

    .weather-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            'submit-form'
            'current-weather'
            'weather-forecast-daily';
        width: 400px;
        height: 600px;
        padding: 20px;
    }

    .weekly-data-card {
        padding: 10px;
        width: 100px;
        height: 160px;
        border: thin solid gray;
        background-color: gainsboro;
        text-align: center;
        border-radius: 10px;
    }

    .current-data {
        margin: 10px;
        padding: 10px;
        width: 80px;
        height: 60px;
        border: thin solid gray;
        background-color: gainsboro;
        text-align: center;
        border-radius: 10px;
    }
}