* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hidden {
    visibility: hidden;
}

body {
    display: flex;
    position: relative;
    background: url("../assets/bg.webp") no-repeat center/cover;
    min-height: 100lvh;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-top: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 1px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in;
}

.navbar li a:hover {
    background-color: #f0f0f0;
}


.weather-section {
    display: flex;
    max-width: 1200px;
    height: fit-content;
    padding: 20px;
    box-shadow: 0 2px 5px;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

#input {
    margin: 10px;
    height: fit-content;
}

.title {
    text-align: center;
    margin: 10px;
}

.submitButton {
    margin: 10px;
    width: 70px;
    height: fit-content;
    border: thin solid black;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.submitButton:hover {
    background-color: #ddd;
}

.weahter-icon {
    display: flex;
    justify-content: end;
}

.current-data {
    margin: 10px;
    /* margin-top: 40px; */
}