*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hidden {
    visibility: hidden;
}

body{
    position: relative;
    background: url("../assets/bg.jpeg") no-repeat center/cover;
    min-height: 100lvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.container {
    width: 1200px;
    padding: 20px;
    border: thin solid black;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.title {
    text-align: center;
    margin: 10px;
}

.submitButton {
    margin: 10px;
    width: 70px;
    height: 50px;
    border: thin solid black;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.submitButton:hover {
    background-color: #ddd;
}